.para {
    background-color: pink;
    font-family: Verdana, sans-serif;

}

#two {
    color: blue;
    font-size: 36px;
}

#four {
    background: lightgreen;
    font-size: 24px;
    font-weight: bold;
}